.k-block-type-image-plus-text .row{
  display: flex;
}
.k-block-type-image-plus-text .text-column{
  display: flex;
  margin: 1rem;
}
.k-block-type-image-plus-text .image-column{
  display: flex;
}
.k-block-type-image-plus-text img{
  align-self: center;
  flex: 0 0 auto;
}
.k-block-type-image-plus-text .small{
  width: 10rem !important;
}
.k-block-type-image-plus-text .medium{
  width: 20rem !important;
}
.k-block-type-image-plus-text .large{
  width: 30rem !important;
}
