.k-block-type-resizable-image .small{
  width: 10rem !important;
  display:inline-block;
}
.k-block-type-resizable-image .medium{
  width: 20rem !important;
  display:inline-block;
}
.k-block-type-resizable-image .large{
  width: 30rem !important;
  display:inline-block;
}
.k-block-type-resizable-image{
  text-align: center;
}
