/* *,
*:after,
*:before {
  margin: 0;
  padding: 0;
} */
$black:#000000;
$lightblack:#88000000;
$white:#ffffff;
$darkgray:#161616;
$gray0:#1e1e1e;
$gray1:#272727;
$gray2:#2d2d2d;
$gray3:#333333;
$gray4:#404040;
$gray5:#525252;
$gray6:#7a7a7a;
$gray7:#7d7d7d;
$gray8:#8c949c;
$gray9:#b9b9b9;
$blue:#0088ff;
$darkblue:#355a7b;
$brightblue:#3989f7;
$red:#ff5f58;
$yellow:#ffc02f;
$green:#28ca42;
$miltenyiOrange:#ff7d00;
$transparent:#FF000000;
$background-dark:#222;
$hamburger-bg-dark:#555;
$hamburger-hover-dark:#666;
$gray0:#1e1e1e;

.video-fig {
  video {
    height: 97%;
    max-width: 100%;
    width: auto;
  }
}
html, .outside, .main {
  scroll-behavior: smooth !important;

}
#search {
  z-index: 2
}
.arrow {
  display: inline-block !important;
  font-size: 11px;
  -webkit-transform:rotate(90deg) translateY(1px) translateX(-5px);
  -moz-transform:rotate(90deg) translateY(1px) translateX(-5px);
  -ms-transform:rotate(90deg) translateY(1px) translateX(-5px);
  -o-transform:rotate(90deg) translateY(1px) translateX(-5px);
  transform:rotate(90deg) translateY(1px) translateX(-5px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.arrow.rotated {
  transform:rotate(180deg) translateY(5px) !important;
  -webkit-transform:rotate(180deg) translateY(5px) !important;
  -moz-transform:rotate(180deg) translateY(5px) !important;
  -o-transform:rotate(180deg) translateY(5px) !important;
}

.indent,.section-indent{
  text-decoration: none;
  /* color: #818181; */
  display: block;
  padding-top:0.1rem;
  a{
    &:first-child {
      // padding-left:1rem;
    }
    &:last-child {
      display:block;
    }
  }
  &.depth-1 {
    font-weight:bold;
    font-size: 18px;
    margin-left: 0.5rem;
    // text-indent: -2rem;
    .depth-1 {
    font-weight:normal;
      margin-left: 1rem;
      // text-indent: -1rem;
    }
    &:last-child{
      margin-bottom:1rem;
    }
  }
  .depth-1{
    margin-left: 2rem;
    // text-indent: -1rem;
    .depth-1 {
      margin-left: 1rem;
      // text-indent: -2rem;
    }
    &:last-child{
      margin-bottom:1rem;
    }
  }
  .depth-2{
    font-weight: normal;
    // text-indent: -1rem;
    margin-left: 1rem;
    .depth-2 {
    // margin-left: 2rem;
    // text-indent: -2rem;
    }
    &:last-child{
      margin-bottom:1rem;
    }
  }
}
.collapseless {
  margin-left:1rem;
}
.section-indent {
  padding-left: 0rem;
}

a.active{
  /* color: #f1f1f1 !important; */
  color:white !important;
}
a.active:hover{
  // font-weight:bold;
  color:$white !important;
  background-color: $darkblue;
}
div.active a.section-link{
  color:white !important;
}
input {
  color:white;
  background-color:#444;
}
#search-form{
  z-index: 100;
  margin-top: 33px;
  float:right;
  margin-right:1rem;
  margin-bottom: 0;
  border-top: none !important;
}
a.active:before {
  // background-color: red;
}
.tree-container{
  background-color: #111;
  width: auto;
  height:fit-content;
}
a {
  color: currentColor;
  text-decoration: none;
}

html {
  font-family: sans-serif;
}


header {
  margin-bottom: 1.5rem;
  display: block;
  a{
    color: #999 !important;
  }
  overflow: auto;
}
.header{
  margin-bottom: 1.5rem;
  display: block;
  justify-content: space-between;
  color: white;

}

.menu {
}
.outside {
  display: flex;
  flex-direction: row;
  width: 100%;
  top: 6.4rem;
  overflow-y: scroll;
  position: fixed;
  border-top:1px solid #666;
  height: calc( 100% - 6.4rem );
  scrollbar-color: $gray2 #0b0b0b;
  scrollbar-width: thin;
  scrollbar-width: 6px;
}

.sidenav {
  overflow-x: hidden;
  width:350px;
  border-right:1px solid #111;
  overflow-y: scroll;
  background-color: #111;
  border-top:1px solid #666;
  float: none;
  position: fixed;
  height: -moz-calc(100% - 6.4rem);
  height: calc(100% - 6.4rem);
  top: 6.4rem;
  left: 0;
  a {
    padding-bottom: .25rem;
    text-decoration: none;
    color: $darkblue;//$blue;
    display: inline;
  }
}

a:focus {
  // background-color:red;
  font-weight: bold;
}
.sidenav a:hover {
  color:$white;
  left:0;
}
.main {
  /* display: inline-block; */
  margin-left:350px;
  margin-right: 1rem;
  font-size: 12pt;
  padding-left: 1rem;
  width: calc(100% - 350px);
  color: white;
}
body{
  background-color: $gray2 !important;
  margin: 0;
}
.top {
  position:fixed;
  text-align: center;
  width:100vw;
  left:0;
  padding-top:1rem;
  height:5rem;
  z-index:1;

  top:0;
}
img {
  box-shadow:none !important;
}
.menu{
  display: flex;
  background-color: $gray2;
  width:auto;
  height:1rem;
  position:fixed;
  top:70px;
  z-index: 1;
  padding-top:0.5rem;
  a {
    color:darkgray;
    &:hover {
      color:white !important;
    }
  }
  div {
  margin-left: 0.5rem;
  &:after{
    content:">";
    color: #777;

  }
  &:last-child:after{
    content:"" !important;
  }
}
}



.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  grid-gap: 1.5rem;
}
h5{
  display:inline-block;
}
h5 figure {
  margin-right:0.5rem;
  display:inline-block;
}
h5 figure img {
  margin-bottom: -0.25rem;
}
a {
  h1 {
    text-align: center;
  }
}
ul {
  margin-top:0rem;
}
li {
  p {
  margin:0.25rem;
  }
}
.doc-title{
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.hamburger {
  display:none;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top:1rem;
  left: 1rem;
  background-color: $hamburger-bg-dark;
  border-radius: 3px;
  z-index: 1;
  &:hover {
    background-color: $blue;
  }
}
.inline-pls{
  display: inline-block !important;

}
.hamburger img {
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.search-result{
  text-decoration: none;
  list-style-type: none;
}
.search-result-name{
  font-weight: bold;
  font-size: 16pt;
  text-decoration: none;
}
.search-result-preview{
  font-size: 11pt;
  text-decoration: none;
}
.icon{
  margin-right:0.5rem;
  display: inline-block;
}
.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -1rem;
  margin-right: -1rem;
}

.column {
  flex: 0 1 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 100%;
}
.section-link{
  color: #666 !important;
  font-style:italic;
}
ul {
  width:80%;
  margin-left:auto;
  margin-right:auto;
}
p {
  margin:1rem 2rem 2rem 2rem;
  margin-left:auto;
  margin-right:auto;
  max-width:80%;
  a {
    color:$blue;
    font-weight: bold;
    &:hover {
      color:white;
    }

  }
}
iframe {
  height: 720;
  width:100%;
  border:none;
  border-width: 0px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

h1 {
  &.section-header {
    margin-top:3rem;
    font-size:18pt;
    text-decoration: underline;
    text-align: center;
    &:hover{
      color:white;
    }
  }
}
.section-link:hover{
  color: $white !important;
}
.logo{
  z-index: 10;
  display: inline-block;
  position: absolute;
  right: 1rem;
  top: 1rem;
  img{
    width: 4rem;
    box-shadow: none;
  }

}

.sidenav::-webkit-scrollbar {
  width: 6px;
  background-color: #0b0b0b;
}
.sidenav::-webkit-scrollbar-thumb {
  background-color: $gray2;
}
.outside::-webkit-scrollbar, .main::-webkit-scrollbar {
  width: 6px;
  background-color: #0b0b0b;
}
.outside::-webkit-scrollbar-thumb, .main::-webkit-scrollbar-thumb {
  background-color: $gray2;
}
body::-webkit-scrollbar {
  width: 0px;
  background-color: #0b0b0b;
}

figcaption {
  font-style: italic;
  color:$gray9;
}
figure {
  // width:inherit;
  margin-bottom:1rem;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
figure.icon{
  margin-left: 0;
  width: 3rem !important;
  display:inline-block;
}
figure.icon img {
  width: 3rem;
  box-shadow:none;
}
figure img{
  max-width: 80%;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  :not(.icon){
  padding:1rem;
}
  max-height: 60vh;
  // height: auto;
  // width: auto;
  // max-width: 100%;

}

@media screen and (max-width: 1500px) {
  figure img {
      max-height: 80vh;
      height: auto;
      // width: 80%;
      max-width: 100%;
      :not(.icon){
      padding: 2rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  figure {width:100%;}
  img {
      // width: 80%;
      max-height: 60vh;
      height:auto;
  }

  figure.icon {
    width:5rem !important;
  }
@media (min-width: 790px) {
  .column {
    flex: 1;
  }
}


@media screen and (max-width: 720px) {
  .hamburger {
    display: inline-block;
    z-index: 2;
  }
  p {
    max-width:90%;
  }
  .sidenav {
    /* padding-top: 15px; */
    display: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    }
  img {
    width:100%;
    max-height:none !important;
  }
  .top {
    width: calc( 100% - 4.4rem ) !important;
    margin-left: 2.2rem;
    text-align: center;
  }
  .hamburger {
    margin-top: 1.5rem;
  }
  // .sidenav a {
  //   padding-bottom:0.7rem;
  //   padding-top:0.7rem;
  // }
  .main {
    /* display: inline-block; */
    margin-left:0;
    width:100%;
    font-size: 12pt; /* Increased text to enable scrolling */
    padding-left: 0.5rem;
    padding-right: 0.5rem;


  }
  figure.icon {
    width:5rem !important;
  }
}
}
