.k-block-type-icon-plus-title .icon{
  margin-left: 0;
  width: 3rem !important;
  display:inline-block;
  margin-right: 0.5rem;
}
.k-block-type-icon-plus-title .icon img {
  width: 3rem;
  box-shadow:none;
}
.k-block-type-icon-plus-title .text{
  text-align: left;
  display: inline-block;
}
